gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
seaborn
scikit-learn
matplotlib
pandas
transformers
gtts
ipython
streamlit
mxnet
gluoncv
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
fastai>=2.3.1
ipywidgets
voila

opencv-python-headless
nltk
Pillow
textblob
setuptools
