gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
seaborn
scikit-learn
matplotlib
pandas
transformers
gtts
ipython
streamlit
mxnet
gluoncv
https://download.pytorch.org/whl/torch_stable.html 
torch
https://download.pytorch.org/whl/torch_stable.html
torchvision
opencv-python-headless
nltk
Pillow
textblob
setuptools
