gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
seaborn
scikit-learn
matplotlib
pandas
transformers
gtts
ipython
streamlit
mxnet
gluoncv

torch
torchvision
opencv-python-headless
nltk
Pillow
textblob
setuptools
